name: outputs-3
on: workflow_dispatch
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: step-1
        id: xyz
        uses: actions/create-release@v1
        with:
          tag_name: 0.0.1
          release_name: 0.0.1
          body: "This is release 0.0.1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: step-2
        run: echo "${{ steps.xyz.outputs.html_url }}"
